SERVER_ADDR=:8080
GIN_MODE=release
SERVER_SHUTDOWN_TIMEOUT=10s

READ_TOKEN=
WRITE_TOKEN=

APP_PORT=8080
POSTGRES_PORT=5432
VALKEY_PORT=6379
QDRANT_HTTP_PORT=6333
QDRANT_GRPC_PORT=6334
SEAWEED_MASTER_PORT=9333
SEAWEED_VOLUME_PORT=8081
SEAWEED_FILER_PORT=8888
IMAGINARY_PORT=9000

POSTGRES_DSN=postgres://gallery:gallery@postgres:5432/gallery?sslmode=disable
POSTGRES_MAX_CONNS=10
POSTGRES_AUTO_MIGRATE=true
POSTGRES_MIGRATIONS_DIR=migrations

VALKEY_ADDR=valkey:6379
VALKEY_PASSWORD=
VALKEY_DB=0
VALKEY_LOCK_TTL=30s

IMAGINARY_BASE_URL=http://imaginary:9000
IMAGINARY_TIMEOUT=60s

SEAWEED_MASTER_URL=http://seaweed-master:9333
SEAWEED_PUBLIC_URL=http://seaweed-volume:8080
SEAWEED_UPLOAD_TIMEOUT=60s

QDRANT_GRPC_ADDR=qdrant:6334
QDRANT_API_KEY=
QDRANT_COLLECTION=image_vectors
QDRANT_TIMEOUT=20s
QDRANT_SIMILARITY_THRESHOLD=0.98
QDRANT_SEARCH_LIMIT=5

UPLOAD_MAX_BYTES=33554432
PAGINATION_DEFAULT_PAGE_SIZE=20
PAGINATION_MAX_PAGE_SIZE=100
